*pro.user

#assimp
source/assimp-5.0.1/*
!source/assimp-5.0.1/build
source/assimp-5.0.1/build/*
!source/assimp-5.0.1/build/code
source/assimp-5.0.1/build/code/*
!source/assimp-5.0.1/build/code/Debug

